@import "../../app.component.scss";

mat-toolbar{
    display: flex;
    background-color: $cor-principal;
    color: $branco;
    transition: padding 0.6s ease, height 0.4 ease;
    #logo{
        transition: 0.6s ease;
    }
    .spacerH{
        flex: 1 1 auto;
    }
    #side-nav{
        display: flex;
        flex-direction: column;
        a{
            color: $branco;
        }
    }

}

@media (min-width: 900px){
    mat-toolbar{
        padding: 0px 100px;
        #menu{
            display: none;
        }
        mat-sidenav{
            display: none;
        }
    }

}
@media (max-width: 900px){
    .nav{
        display: none;
    }

}