<div class="container-home">
    <h1>Lista de imóveis</h1>
    <mat-grid-list cols="3" rowHeight="3:4">
        <mat-grid-tile *ngFor="let imovel of imoveis">
            <mat-card>
                <img mat-card-image src="https://www.marthastewart.com/thmb/ztbQcrrZdokMRcyfgBEkG7_5G3Q=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/classic-gray-home-getty-0423-8d77cf79fea749369cbb9393f7afb8c9.jpg" >
                <mat-card-content>
                    <h2>{{imovel}}</h2>
                    <ul>
                        <li>Quartos: 04</li>
                        <li>Banheiros: 03</li>
                        <li>Metragem: 360m²</li>
                        <li>Preço: R$ 890.000,00</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Mais Detalhes</button>
                </mat-card-actions>
              </mat-card> 
        </mat-grid-tile>
      </mat-grid-list>      
</div>

